body {
  margin: 0;
  font-family: Gibson, arial, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url('../images/briq.jpg');
  // background-repeat: repeat;
  // background-size: contain;
  //padding: 15px;
  background-image: linear-gradient( white);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  outline: none !important;
}
